<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-list lines="none">
  <div *ngFor="let item of settingItems">
    <ion-item (click)="onFunctionCalled(item.function)" *ngIf="item.function" button="true">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2" size-sm="auto">
            <ion-icon [name]="item.icon" size="large"></ion-icon>
          </ion-col>
          <ion-col size="10" size-lg="5" size-md="6" size-sm="8" size-xl="3">
            <h5 class=" ion-no-margin">{{ item.title }}</h5>
            <ion-text color="dark">
              <p class="ion-no-margin">{{ item.description }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="item.route" [routerLink]="item.route" button="true" router-direction="forward">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2" size-sm="auto">
            <ion-icon [name]="item.icon" size="large"></ion-icon>
          </ion-col>
          <ion-col size="10" size-lg="5" size-md="6" size-sm="8" size-xl="3">
            <h5 class=" ion-no-margin">{{ item.title }}</h5>
            <ion-text color="dark">
              <p class="ion-no-margin">{{ item.description }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-list>
