/*!
 * Copyright (c) 2023 DERACHE Adrien.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-img {
  width: 64px;
  height: auto;
}

.header-md {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.07);
}

ion-datetime-button::part(native) {
  background-color: transparent;
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
  font-weight: bold;
}

.day-slide {
  display: block;
  text-align: center;
  border-radius: 20px;
}

.day-slide p {
  color: var(--ion-color-medium);
}

.day-slide.active {
  background-color: var(--ion-color-primary);
}

.day-slide.active h6 {
  color: white;
}
