<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<form (ngSubmit)="onLogin()" [formGroup]="loginForm">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="at-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          clearOnEdit="false"
          errorText="Email invalide"
          formControlName="email"
          label="Email"
          label-placement="floating"
          placeholder="Ex: email@exemple.fr"
          shape="round"
          type="email">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="lock-closed-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          [disabled]="isLoading"
          clearInput="true"
          clearOnEdit="false"
          errorText="Mot de passe invalide"
          formControlName="password"
          label="Mot de passe"
          label-placement="floating"
          placeholder="Votre mot de passe"
          shape="round"
          type="password">
        </ion-input>
        <a
          routerLink='/reset-password' style="text-decoration: none; float: right;">
          <ion-text color="secondary">
            <strong>Mot de passe oublié ?</strong>
          </ion-text>
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="5" size-xl="3">
        <ion-button expand="block" type="submit">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="auto">
      <ion-text color="medium">
        <h6>OU</h6>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11" size-md="5" size-xl="3">
      <ion-text color="medium">
        <ion-button expand="block" fill="outline" routerLink="/">
          <ion-img
            src="assets/icon/microsoft_logo.webp"
            style="width: 2em; margin-right: 10px">
          </ion-img>
          Se connecter avec Microsoft
        </ion-button>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-top ion-text-center">
    <ion-col size="12" size-md="5" size-xl="3">
      <ion-text color="medium">
        <h6>Pas encore de compte ?
          <a routerLink="/register"
             style="text-decoration: none; color: var(--ion-color-tertiary)">
            S'inscrire maintenant
          </a>
        </h6>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
