<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<app-settings-header
  title="Modifier mon avatar">
</app-settings-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-avatar style="height: 120px; width: 120px">
          <img
            *ngIf="fileToSend || user"
            [src]="user.avatar?.href"
            alt="Aperçu photo de profil"
            id="imagePreview"
          />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button
          (click)="fileInput.click()"
          color="primary"
          shape="outline"
          type="button">
          Choisir un avatar
        </ion-button>
        <input #fileInput (change)="onFileSelected($event)" accept="image/png, image/jpeg" hidden type="file">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button
          (click)="onChangeAvatar()"
          [disabled]="!fileToSend"
          color="primary"
          type="button">
          enregistrer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
