<form (ngSubmit)="onRegister()" [formGroup]="registerForm">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="person-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          errorText="Pseudo invalide"
          formControlName="pseudo"
          label="Pseudo"
          label-placement="floating"
          clearOnEdit="false"
          placeholder="Ex: Vador"
          shape="round"
          type="text">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="at-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          errorText="Email invalide"
          formControlName="email"
          clearOnEdit="false"
          label="Email"
          label-placement="floating"
          placeholder="Ex: email@exemple.fr"
          shape="round"
          type="email">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="lock-closed-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          errorText="Mot de passe invalide"
          formControlName="password"
          label="Mot de passe"
          clearOnEdit="false"
          label-placement="floating"
          placeholder="Bitwarden !!!!!"
          shape="round"
          type="password">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="11" size-md="5" size-xl="3">
        <ion-text *ngIf="messageError" color="danger"> {{ messageError }} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="5" size-xl="3">
        <ion-button [disabled]="isLoading" expand="block" type="submit">S'inscrire</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-margin-top ion-text-center">
    <ion-col size="12" size-md="5" size-xl="3">
      <ion-text color="medium">
        <h6>Déjà un compte ?
          <a routerLink="/login"
             style="text-decoration: none; color: var(--ion-color-tertiary)">
            Se connecter maintenant
          </a>
        </h6>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
