<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-top ion-padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-col [ngSwitch]="isDarkModeEnable" size="12" size-sm="6" size-xl="3">
        <ion-img *ngSwitchCase="false" src="assets/images/ESIEA_logo_black.png"></ion-img>
        <ion-img *ngSwitchCase="true" src="assets/images/ESIEA_logo_white.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <router-outlet></router-outlet>
</ion-content>
