/*!
 * Copyright (c) 2023 DERACHE Adrien.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

ion-button {
  --background-hover: 0;
  --ripple-color: rgba(255, 255, 255, 0);
  --background-focused: 0;
  --background-focused-opacity: 0;
  --box-shadow: 0;
  --padding-top: 5px;
  --padding-bottom: 0;
  --margin-bottom: 0;
}

p {
  color: var(--ion-color-medium-shade);
  white-space: pre-wrap;
}

ion-skeleton-text {
  --border-radius: 9999px;
}

#pouetImage {
  height: 20em;
  width: 100%;
  --border-radius: 15px;
}

.warnPouet {
  background-color: var(--ion-color-danger-tint);
  border: 1px solid var(--ion-color-danger) !important;
  border-radius: 15px;
  padding: 0.5em;
}

.custom-form {
  --border-color: var(--ion-color-primary);
  --padding-bottom: 0px;
  --padding-top: 0px;
  --border-radius: 100px;
  --border-style: solid;
  --border-width: 1px;
  margin-bottom: 10px;
}

.max {
  --border-color: var(--ion-color-tertiary) !important;
}

.form-res {
  --border-color: var(--ion-color-medium-tint);
}
