/*!
 * Copyright (c) 2023 DERACHE Adrien.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

#send.md {
  background-color: var(--ion-color-primary);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: white !important;
  --background-hover: 0;
  --ripple-color: rgba(255, 255, 255, 0);
  --background-focused: 0;
  --background-focused-opacity: 0;
  --box-shadow: 0;
}

ion-textarea {
  --border-width: 0;
  --highlight-color-focused: 0;
  --highlight-color-valid: 0;
  --highlight-color-invalid: 0;
  white-space: pre-wrap;
}

ion-footer {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

ion-footer ion-icon {
  font-size: 25px;
}

.warnPouet {
  background-color: var(--ion-color-danger);
  border-radius: 20px;
  color: white;
}

.warnPouet ion-textarea {
  --color: #fff
}

.warnPouet ion-icon {
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 100px;
  padding: 0.4em;
}

#imagePreview {
  max-height: 20em;
  border-radius: 10px !important;
}
