<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="onEPouet()" [disabled]="!pouetForm.valid || lockPouet" id="send">
      e-pouet
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-avatar style="width: 100%; height: auto">
          <img
            *ngIf="user"
            [ngSrc]="String(user.avatar)"
            alt="Error on loading"
            height="64"
            width="64" />
        </ion-avatar>
      </ion-col>
      <ion-col size="auto">
        <ion-text>
          <h3>{{ user.name }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <form [formGroup]="pouetForm">
      <ion-row *ngIf="warnPouet" class="ion-justify-content-end">
        <ion-col size="12">
          <ion-grid class="warnPouet">
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-icon color="light" name="warning-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <ion-textarea
                  auto-grow="true"
                  autofocus="true"
                  formControlName="pouetWarn"
                  inputmode="text"
                  maxlength="50"
                  placeholder="Votre alerte"
                  rows="1"
                  spellcheck="true"
                  wrap="soft">
                </ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12">
          <ion-textarea
            [autoGrow]="true"
            [counter]="true"
            autofocus="true"
            formControlName="pouet"
            inputmode="text"
            maxlength="300"
            placeholder="Vous êtes libre sur Arte..."
            rows="2"
            spellcheck="true"
            wrap="soft">
          </ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pollPouet">
        <ion-col size="12">
          <ion-list formArrayName="poll">
            <ion-reorder-group (ionItemReorder)="handleReorder($any($event))" [disabled]="false">
              <ion-item
                *ngFor="let pollControl of controls; let i = index"
                class="ion-margin-bottom"
                fill="outline"
                lines="none">
                <ion-input
                  [formControlName]="i"
                  [label]="'Option ' + (i + 1)"
                  label-placement="floating"
                  maxlength="30"
                  placeholder="Enter text">
                </ion-input>
                <ion-reorder slot="end">
                  <ion-icon name="reorder-three-outline"></ion-icon>
                </ion-reorder>
              </ion-item>
            </ion-reorder-group>
          </ion-list>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row>
              <ion-col size="auto">
                <ion-button (click)="addOption()" [disabled]="controls.length >= 4" fill="clear">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="removeOption()" [disabled]="controls.length <= 2" fill="clear">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)='formType()' fill="clear">
                  <ion-icon name="settings-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img id="imagePreview" src="">
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button (click)="fileInput.click()" fill="clear">
            <ion-icon name="image-outline"></ion-icon>
          </ion-button>
          <input #fileInput (change)="onFileSelected($event)" accept="image/png, image/jpeg" hidden type="file">
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="onPollPouet()" [disabled]="photo" fill="clear">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)='onWarnPouet()' fill="clear">
            <ion-icon name="warning-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
