/*!
 * Copyright (c) 2023 DERACHE Adrien.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.calendar-event-inner {
  color: white;
  text-align: left;
  border-radius: 20px;
  height: 100%;
  padding: 10px 5px 2px 10px;
}

.calendar-event-inner .title {
  font-family: "Roboto Bold", sans-serif;
}

.event-info {
  font-size: 10px;
}

.red {
  background:  linear-gradient(220.55deg, #FF896D 0%, #D02020 100%) !important;
}

.blue {
  background: linear-gradient(220.55deg, #7CF7FF 0%, #4B73FF 100%) !important;
}

.pink {
  background: linear-gradient(220.55deg, #D0004B 0%, #88069D 100%) !important;
}

.yellow {
  background: linear-gradient(220.55deg, #FFF500 0%, #FFB800 100%) !important;
}

.green {
  background: linear-gradient(220.55deg, #00B960 0%, #00552C 100%) !important;
}

.purple {
  background: linear-gradient(220.55deg, #DEB5FF 0%, #6F00B3 100%) !important;
}

.orange {
  background: linear-gradient(220.55deg, #FFD439 0%, #FF7A00 100%);
}

.europe {
  background-image: url("/assets/images/drapeau-europe.webp") !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #00297B;
}

@media only screen and (max-width: 380px) {
  .calendar-event-inner .title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .calendar-event-inner .title {
    font-size: 1em;
  }
}

@media only screen and (min-width: 601px) {
  .calendar-event-inner .title {
    font-size: 2em;
  }
}
