<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<app-settings-header
  title="Configuration de l’emploi du temps">
</app-settings-header>
<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="promoForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-list>
            <ion-item>
              <ion-select
                aria-label="Promo"
                cancelText="Annuler"
                formControlName="promo"
                interface="action-sheet"
                placeholder="Sélectionner ">
                <ion-select-option
                *ngFor="let promo of promos"
                [value]="promo.value">
                  {{ promo.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-text *ngIf="errorMessage" color="danger">
            {{ errorMessage }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button type="submit">
            Modifier la promo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
