<app-settings-header
  title="Modifier mon email">
</app-settings-header>
<ion-content>
  <form (ngSubmit)="onChangeEmail()" [formGroup]="emailForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="L'email n'est pas valide"
            formControlName="email"
            label="Votre email"
            labelPlacement="floating"
            type="email">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="Le mot de passe est incorrecte."
            formControlName="password"
            label="Votre mot de passe"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-text *ngIf="errorMessage" color="danger">
            {{ errorMessage }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button type="submit">
            Modifier l'email
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
