<form (ngSubmit)="onSendLink()" *ngIf="!isFromLink" [formGroup]="passwordRecoveryForm">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="at-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          clearOnEdit="false"
          errorText="Email invalide"
          formControlName="email"
          label="Email"
          label-placement="floating"
          placeholder="Ex: email@exemple.fr"
          shape="round"
          type="email">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="11" size-md="5" size-xl="3">
        <ion-text *ngIf="messageError" color="danger"> {{ messageError }} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="5" size-xl="3">
        <ion-button [disabled]="isLoading" expand="block" type="submit">Réinitialiser le mot de passe</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<form (ngSubmit)="onReset()" *ngIf="isFromLink" [formGroup]="passwordResetForm">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="lock-closed-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          clearOnEdit="false"
          errorText="Le mot de passe doit comporter 12 caractères minimum"
          formControlName="password"
          label="Nouveau mot de passe"
          label-placement="floating"
          placeholder="Bitwarden !!!!!"
          shape="round"
          type="password">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon class="ion-margin-top" name="lock-closed-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10" size-md="5" size-xl="3">
        <ion-input
          clearInput="true"
          clearOnEdit="false"
          errorText="Les deux mots de passe sont différents"
          formControlName="passwordConfirmation"
          label="Confirmer le mot de passe"
          label-placement="floating"
          placeholder="Bitwarden !!!!!"
          shape="round"
          type="password">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="11" size-md="5" size-xl="3">
        <ion-text *ngIf="messageError" color="danger"> {{ messageError }} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="5" size-xl="3">
        <ion-button [disabled]="isLoading" expand="block" type="submit">Réinitialiser le mot de passe</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-margin-top ion-text-center">
    <ion-col size="12" size-md="5" size-xl="3">
      <ion-text color="medium">
        <h6>Déjà un compte ?
          <a routerLink="/login"
             style="text-decoration: none; color: var(--ion-color-tertiary)">
            Se connecter maintenant
          </a>
        </h6>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
