<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-back-button icon="arrow-back-outline"></ion-back-button>
  </ion-buttons>
  <strong>{{ title }}</strong>
</ion-toolbar>
