<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row
    *ngFor="let pouet of ePouets"
    class="ion-justify-content-center">
    <ion-col
      size-md="12"
      size-xl="3"
      style='border-bottom: 1px solid rgba(128,128,128,0.13)'>
      <app-e-pouet-item
        [ePouet]='pouet'>
      </app-e-pouet-item>
    </ion-col>
  </ion-row>
</ion-grid>
