<app-settings-header
  title="Modifier mon pseudo">
</app-settings-header>
<ion-content>
  <form (ngSubmit)="onChangePseudo()" [formGroup]="pseudoForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="Le pseudo n'est pas valide"
            formControlName="pseudo"
            label="Votre nouveau pseudo"
            labelPlacement="floating"
            type="text">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button type="submit">
            Modifier le pseudo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
