.header-md {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}

ion-content ion-button {
  width: 70%;
  --background-hover: 0;
  --ripple-color: rgba(255, 255, 255, 0);
}
