<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-menu contentId="main-content">
  <ion-header class="ion-margin">
    <ion-toolbar class="ion-margin-start ion-margin-top">
      <ion-avatar
        style="width: 40px; height: 40px; margin-bottom: 10px">
        <img
          *ngIf="user"
          [src]="String(user.avatar)"
          alt="Silhouette of a person's head" />
      </ion-avatar>
      <!--      <ion-img *ngIf="user" [src]="user.prefs.avatar?.href" style="width: 40px; height: 40px; margin-bottom: 10px"></ion-img>-->
      <ion-text class="ion-margin-top">
        <h3 *ngIf="user" class="ion-no-margin"><strong>{{ user.name }}</strong></h3>
        <p *ngIf="user" style="margin-top: 5px">{{ user.email }}</p>
      </ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="true">
        <div *ngFor="let item of menuItems">
          <ion-item
            *ngIf="item.route"
            [routerLink]="item.route"
            class="ion-margin-vertical"
            router-direction="forward">
            <ion-icon [name]="item.icon" class="ion-margin-horizontal" color="dark" size="large"></ion-icon>
            <label>
              <strong>{{ item.title }}</strong>
            </label>
          </ion-item>
          <ion-item
            (click)="openModal(item.modal)"
            *ngIf="item.modal"
            button="true"
            class="ion-margin-vertical"
            router-direction="forward">
            <ion-icon [name]="item.icon" class="ion-margin-horizontal" color="dark" size="large"></ion-icon>
            <label>
              <strong>{{ item.title }}</strong>
            </label>
          </ion-item>
        </div>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
