/*!
 * Copyright (c) 2023 DERACHE Adrien.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import 'node_modules/swiper/swiper.min.css';
@import '@ionic/angular/css/ionic-swiper';

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Roboto";
  src: url(./assets/font/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url(./assets/font/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Poppins Bold";
  src: url(./assets/font/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-family: "Poppins Bold", sans-serif;
}

h2, h2, h3, h4, h5, h6 {
  font-family: "Roboto Bold", sans-serif;
}

p, ion-input, ion-textarea, ion-text {
  font-family: "Roboto", sans-serif;
}

ion-button[expand="block"]:not([shape="round"]) {
  --border-radius: 0.8em;
  --padding-top: 1.8em;
  --padding-bottom: 1.8em;
}

ion-input {
  --highlight-color-focused: var(--ion-color-medium) !important;
  --highlight-color-valid: var(--ion-color-medium) !important;
}

@media (prefers-color-scheme: light) {
  ion-toolbar.ios {
    --background: var(--ion-color-primary-contrast);
  }
}

button.alert-button.alert-button-confirm-danger {
  color: var(--ion-color-danger);
}

ion-modal.stack-modal {
  --height: 80%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal.stack-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

// Calendar css
.dayview-normal-event-container {
  margin-top: 0 !important;
}

.dayview-allday-table {
  visibility: hidden;
}

.calendar-hour-column {
  border: none !important;
}

.calendar-hour-column {
  width: 70px !important;
  color: var(--ion-color-medium-tint);
}
.calendar-cell {
  border: none !important;
}

tr .calendar-event-wrap:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid var(--ion-color-light-shade);
  width: 95%;
  transform: translateY(-50%);
}

.dayview-normal-event-table tr {
  height: 70px;
}

.table-bordered {
  border: none !important;
}
